# Virtual Environments
.venv/
venv/
env/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*.class

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS artifacts
.DS_Store
Thumbs.db

# Logs & scratch
*.log
